body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex: 1 0 auto;
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}

button,
form {
    margin-bottom: 50px;
    margin-top: 50px;
}

